<h4>Budget</h4>
<%= form_tag management_budget_path, :method => 'get' do %>
	<p>
		<%= select_month(@month.to_f) %>
		<%= select_year(@year.to_f.round) %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>

<table>
	<thead align="right">
		<tr style="border-bottom: thin solid black;">
			<th width="250" align="left">Account</th>
			<th width="100">To Date</th>
			<th width="100">Per Day</th>
			<th width="200"></th>
			<th width="100" style="margin-left:50px;">Projected Month End</th>
			<th width="100">Budgeted Month End</th>
		<tr>
		<tr height="15"></tr>	
	</thead>
	<tbody align="right">
		<% @accounts.each do |account| %>
			<tr>
				<td align="left"><b><%= account.name %></b></td>
			</tr>
			<% styling_first_position = 1 %>
			<% account.sub_accounts.each do |sub_account| %>	
				<% if sub_account.sub_account_period_balance(sub_account, @month, @year) <> 0 || sub_account.sub_account_current_month_projection(sub_account, @month, @year) <> 0 %>
					<tr>
						<td align="left"><%= sub_account.name %></td>
						<td><%= "$" if styling_first_position == 1 %><%= number_with_delimiter(sub_account.sub_account_period_balance(sub_account, @month, @year), :precision => 0, :delimiter => ",") %></td>
						<td>NA</td>
						<td></td>
						<td>NA</td>
						<td><%= number_with_delimiter(sub_account.sub_account_current_month_projection(sub_account, @month, @year), :precision => 0, :delimiter => ",") %></td>
					</tr>
					<% styling_first_position += 1 %>
				<% end %>
			<% end %>
			<tr style="border-top: thin solid black;">
				<td align="left"><b>Total <%= account.name %></b></td>
				<td><b><%= number_to_currency(account.account_period_balance(account, @month, @year), :unit => "$") %></b></td>
				<td>NA</td>
				<td></td>
				<td>NA</td>
				<td><%= number_to_currency(account.account_current_month_projection(account, @month, @year), :unit => "$") %>
			</tr>
			<tr height="15"></tr>
		<% end %>
		<tr height="15"></tr>	
		<tr style="border-top: thin solid black;border-bottom: thin solid black;">
			<td align="left"><strong>Net Income</strong></td>
			<td><strong><%= number_to_currency(@bs_category.bs_category_period_balance(@bs_category, @month, @year), :unit => "$") %></strong></td>
			<td>NA</td>
			<td></td>
			<td>NA</td>
			<td><strong><%= number_to_currency(@bs_category.bs_category_current_month_projection(@bs_category, @month, @year), :unit => "$") %></strong></td>
		</tr>
	</tbody>
</table>