<h1>Listing sub_accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Account</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_accounts.each do |sub_account| %>
  <tr>
    <td><%= sub_account.name %></td>
    <td><%= sub_account.account_id %></td>
    <td><%= link_to 'Show', sub_account %></td>
    <td><%= link_to 'Edit', edit_sub_account_path(sub_account) %></td>
    <td><%= link_to 'Destroy', sub_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sub account', new_sub_account_path %>
