<div class="row-fluid">
	<div class="span6">
		<h2><%= @sub_account.name %> | <%= @sub_account.account.name %></h2>
		<h4>Account Balance: <%= number_to_currency(@sub_account.sub_account_balance(@sub_account), :precision => 0, :unit => "$") %></h4>
		
	</div>
	<div class="span2 pull-right" style="margin-top:15px;">
		<button type="button" id="add_transaction" class="btn btn-primary">New Transaction</button>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 transaction_form">
		<h3>New transaction</h3>
		<%= render :template => 'transactions/_form', :locals => {sub_account: "Present"} %>
	</div>
</div>
<br></br>

<div>

	<div>
		<h4>Account History</h4>
		<table class="accts table table-condensed table-hover" data-provides="rowlink">
			<thead>
				<tr>
					<th width="35">Date</th>
					<th width="100">Memo</th>
					<th width="25" style="text-align:right;">Amount</th>
					<th width="25" style="text-align:right;">Balance</th>
				</tr>
			</thead>
			<tbody data-provides="rowlink">
				<% running_total = @sub_account.sub_account_balance(@sub_account) %>
				<% @sub_account.transactions.order("date DESC").each do |transaction| %>
					<% transaction_item = transaction.transaction_items.where(:sub_account_id => @sub_account.id).first %>
					
					<% if transaction_item.debit == true %>
						<% value_multiplier = transaction_item.sub_account.account.bs_category.debit_impact %>
					<% else %>
						<% value_multiplier = transaction_item.sub_account.account.bs_category.credit_impact %>
					<% end %>
					<% if transaction_item.amount == nil %>	
						<% transaction_value = 0 %>
					<% else %>	
							<% transaction_value = transaction_item.amount * value_multiplier %>
					<% end %>
					
					
					<tr data-provides="rowlink">
			    		<td><%= link_to transaction.date, transaction_path(transaction) %></td>
						<td><%= transaction.memo.truncate(100) %></td>
				    	<td style="text-align:right;"><%= number_to_currency(transaction_value, :precision => 0, :unit => "$", negative_format: "(%u%n)") %></td>
						<td style="text-align:right;"><%= number_to_currency(running_total, :precision => 0, :unit => "$", negative_format: "(%u%n)") %></td>
						
						<% running_total = running_total - transaction_value %>
					</tr>
				<% end %>
			</tbody>
		</table>
		
		
		<br />
	</div>


<%= link_to 'Edit', edit_sub_account_path(@sub_account) %> |
<%= link_to 'Back', account_path(@sub_account.account) %>