<h2>
  <%= @sub_account.name %> | <%= @sub_account.account.name %>	
</h2>
<h4>
	Current Account Balance = <%= @sub_account.sub_account_balance(@sub_account) %>
</h4>
<hr>
<div>

	<div>
		<h3>Transactions</h3>
		<hr>
		<% @sub_account.transactions.order("date DESC").each do |transaction| %>
			<%= render :template => 'transactions/transaction_display', :locals => {transaction: transaction} %>
		<% end %>
		<br />
	</div>


<%= link_to 'Edit', edit_sub_account_path(@sub_account) %> |
<%= link_to 'Back', account_path(@sub_account.account) %>