<h1>Listing projections</h1>

<table class="table table-hover">
  <tr>
    <th>Account</th>
    <th>Period</th>
    <th>Amount</th>
    <th></th>
  </tr>

<% @projections.each do |projection| %>
  <tr>
    <td><%= projection.sub_account.account.name %> | <%= projection.sub_account.name %></td>
    <td><%= projection.month %>-<%= projection.year %></td>
    <td><%= projection.amount %></td>
    <td><%= link_to 'Show', projection %>
		<%= link_to 'Edit', edit_projection_path(projection) %>
		<%= link_to 'Destroy', projection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Projection', new_projection_path %>
