<%= form_for(@bs_category) do |f| %>
  <% if @bs_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bs_category.errors.count, "error") %> prohibited this bs_category from being saved:</h2>

      <ul>
      <% @bs_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :debit_impact %><br />
    <%= f.number_field :debit_impact %>
  </div>
  <div class="field">
    <%= f.label :credit_impact %><br />
    <%= f.number_field :credit_impact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
