<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
	<br>
  <div class="field">
    <%= f.label :current %>
    <%= f.check_box :current %>
  </div>
	<br>
  <div class="field">
    <%= f.label :bs_category_id %><br />
    <%= f.collection_select(:bs_category_id, @bs_categories, :id, :name, :prompt => "Please select a BS category") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
