<h3>Account Management</h3>
<hr>


<table class="table table-condensed">
	<thead>
		<tr>
			<th width="50"></th>
			<th width="100"></th>
			<th width="50"></th>
		</tr>
	</thead>
	<tbody>
		<% @bs_categories.each do |bs_category| %>
			<tr style="color:white;background-color:black;"><td><strong><%= bs_category.name %></strong></td><td></td><td></td></tr>
			<% bs_category.accounts.each do |account| %>
				<tr>
			    	<td><%= account.name %></td>
					<td></td>
				    <td><%= link_to 'Show', account %>
						<%= link_to 'Edit', edit_account_path(account) %>
						<%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<% account.sub_accounts.each do |sub_account | %>
					<tr>
						<td></td>
				    	<td><%= sub_account.name %></td>
					    <td><%= link_to 'Show', sub_account %>
							<%= link_to 'Edit', edit_account_path(account) %>
							<%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					</tr>
				<% end %>	
			<% end %>
		<% end %>
	</tbody>
</table>
<br />




<%= link_to 'New Account', new_account_path %>
